<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css"   href="/css/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!-- AOS  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
        <div><p style="font-size:50px; color:bisque;">Spark Bank</p></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-link">
              <a class="nav-item" href="./index"><p style="font-size:20px;color:bisque;">Home</p> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
              <a class="nav-item" href="./about"><p style="font-size:20px;color:bisque;">About</p></a>
            </li>
            <li class="nav-link">
              <a class="nav-item" href="./index"><p style="font-size:20px;color:bisque;">Customers</p></a>
            </li>
            <li class="nav-link">
              <a class="nav-item" href="./history"><p style="font-size:20px;color:bisque;">History</p></a>
            </li>
           
          </ul>
        </div>
    </nav>
    <div data-aos="fade-down" class="about">About Us</div>
    <div data-aos="fade-left" class="main">
      Spark bank is the place where customers feel safe<br>
      for their property. And also,In the bank,<br>
      where customers can send the money in faster and easy<br>
      way..!Transaction is the main operation of the bank.<br>
      because the uses the bank mainly for transactions.<br>
      All the needs and reqirements are fullfiled by our bank..!<br>
      Go and experinece the facilities of the bank.
    </div>
  <div class="fea-info">
    
    <div class="features">
      <div data-aos="fade-right" class="tag"><p class="spe"> What makes us speacial</p></div>
      <div class="pair">
        <div>
            <div data-aos="fade-left"class="res-sphere"><p>Fast Payment</p><img src="https://static.vecteezy.com/system/resources/previews/000/660/646/original/vector-fast-pay-transaction-logo.jpg"></div>
        </div>
        <div>
             <div data-aos="fade-up"class="res-sphere"><p>Easy Payment</p><img src="https://www.genuinesuccess.co.uk/wp-content/uploads/2015/10/security-of-online-transactions.jpg"></div>
        </div>
      
      
        <div>
            <div data-aos="fade-right" class="res-sphere"><p>Secure Payment</p><img src="https://media.istockphoto.com/vectors/secure-transactions-icon-flat-design-vector-id496955694?k=6&m=496955694&s=170667a&w=0&h=upOnNydfBAIE9-z0zlnwSQjc7m-vwVZ5y5TKeQV2vIo="></div>
        </div>
      </div>
    </div>
</div>
<div class="about-info">
  <div> Our social media handels</div>
  <div class="links">
    <div><a href="#" class="fa fa-google"></a></div>
    <div><a href="#" class="fa fa-linkedin"></a></div>
    <div><a href="#" class="fa fa-twitter"></a></div>
    <div><a href="#" class="fa fa-instagram"></a></div>
  </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 900,
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
</body>
</html>